<p>product works!</p>
<app-product-detail-form></app-product-detail-form>


 <div class="jumbotron py-3">
    <h1 class="display-4 text-center">Product Register</h1>
</div>

 <!-- <div class="row">
    <div class="col-md-6">
        <app-product-detail-form></app-product-detail-form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.Name}}</td>
                    <td (click)="populateForm(pd)">{{pd.Price}}</td>
                    <td (click)="populateForm(pd)">{{pd.Active}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.Product_Id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>  -->


